body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.wrapper {
  width: 100%;
  min-width: 768px;
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;
}

.header-logo {
  position: absolute;
  z-index: 1;
  width: 138px;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.header-logo a {
  display: block;
  width: 138px;
  height: 70px;
  font-size: 0;
  background-image: url("../img/index-logo.png");
}

.header-menu ul {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu-list li {
  width: 20%;
  padding: 15px 0;
}

.menu-list li:nth-child(4n+1) {
margin-left: 6%;
}

.menu-list li:nth-child(4n) {
margin-right: 6%;
text-align: right;
}

.menu-list li:nth-child(4n+3) {
margin-left: 8%;
text-align: right;
letter-spacing: 0.5px;
}

.menu-list a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}


.menu-list a {
  color: #000000;
}

.menu-list a:hover {
  color: #81b3d2;
}

.menu-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-photo {
  position: relative;
  width: 100%;
  height: 508px;
  background-color: #6c7780;
  background-image: url("../img/main-foto.jpg");
  background-repeat: no-repeat;
  background-position: center 21%;
  background-size: cover;
}

.main-photo img {
  position: absolute;
  top: 76px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.main-photo::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-image: url("../img/hidebottom-photo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 56px;
}

.main-text {
  padding-top: 61px;
  padding-bottom: 50px;
  text-align: center;
  color: #000000;
}

.main-text-sedona {
  display: block;
  width: 442px;
  margin: 0 auto 27px;
  font-size: 21px;
}

.main-text p {
  margin: 0;
  font-weight: normal;
}

.main-realhouse {
  display: flex;
  min-height: 256px;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
}

.realhouse-text {
  width: 33.33%;
  margin-top: 47px;
  margin-left: 59px;
  margin-right: 59px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}

.realhouse-sity {
  width: 155px;
  margin: auto;
  margin-bottom: 21px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.realhouse-n1 {
  display: block;
  margin-bottom: 19px;
  font-weight: normal;
}

.realhouse-Sedona {
  max-width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.main-firstimage {
  width: 66.66%;
  max-height: 256px;
  background-color: #a5907e;
}

.main-firstimage img {
  width: 100%;
  height: 100%;
}

.main-house {
  color: #000000;
  text-align: center;
  background: url("../img/housing.png") center no-repeat;
}
.main-food {
  color: #000000;
  text-align: center;
  background: url("../img/eat.png") center no-repeat;
}
.main-souvenir {
  color: #000000;
  text-align: center;
  background: url("../img/souvenir.png") center no-repeat;
}
.main-bridge {
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
}
.main-area {
  color: #000000;
  text-align: center;
  background-color: #eeeeee;
}
.main-route {
  color: #000000;
  text-align: center;
  background-color: #eeeeee;
}
.main-tourist {
  color: #000000;
  text-align: center;
  background-color: #eeeeee;
}
.search {
  color: #000000;
  background-color: white;
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
}

.search-text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.search-Sedona {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.search-Sedona:hover {
  background-color: #604e43;
}

.search-Sedona:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:#503e33;
}

.search-data {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
}

.input-checking input,
.input-checkout input,
.adults-number input,
.children-number input {
  font: inherit;
  background-color: #f2f2f2;
  border: 0px #f2f2f2;
}

.input-checking input:hover,
.input-checkout input:hover,
.adults-number input:hover,
.children-number input:hover {
  background-color: #ebebeb;
}

.button-form {
  font: inherit;
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
  border: 0px #81b3d2;
  border-radius: 0px;
  text-transform: uppercase;
}

.button-form:hover {
  background-color: #669ec0;
}

.button-form:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer-tags {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.social-twitter img,
.social-facebook img,
.social-youtube img{
  background-color: #81b3d2;
}

.social-twitter img:hover,
.social-facebook img:hover,
.social-youtube img:hover {
  background-color: #669ec0;
}

.social-twitter img:active,
.social-facebook img:active,
.social-youtube img:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.svghtmlacademy {
  fill: #231f20;
}

.svghtmlacademy:hover {
  fill: #81b3d2;
}

.svghtmlacademy:active {
  fill: #bdbbbc;
}

.filter-name,
.filter-title,
.filter-title-price {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}

.filter {
  background: grey url("../img/sedonaback.jpg") center no-repeat;
}

.price-data {
  border: 2px solid white;
}

.button-form-catalog {
  font: inherit;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: rgba(255, 0, 0, 0);
  border: 2px solid white;
  border-radius: 0px;
  text-transform: uppercase;
}

.button-form-catalog:hover {
  background-color: #669ec0;
}

.button-form-catalog:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.sorter-list .list-item-sort {
  color: #000000;
  border-bottom: none;
}

.sorter-list span {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.sorter-list span:hover {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sorter-list span:active {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  border-bottom: none;
}

.sorter-list span:visited {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  border-bottom: none;
}

.header-housing {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: left;
}

.header-housing:hover {
  color: #81b3d2;
}

.header-housing:active {
  color: rgba(0, 0, 0, 0.3);
}

.nameandprice {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.button-more {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-book {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
