body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.wrapper {
  width: 100%;
  min-width: 768px;
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;
}

.header-logo {
  position: absolute;
  z-index: 1;
  width: 138px;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.header-logo a {
  display: block;
  width: 138px;
  height: 70px;
  font-size: 0;
  background-image: url("../img/index-logo.png");
}

.header-menu ul {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu-list li {
  width: 20%;
  padding: 15px 0;
}

.menu-list li:nth-child(4n+1) {
margin-left: 6%;
}

.menu-list li:nth-child(4n) {
margin-right: 6%;
text-align: right;
}

.menu-list li:nth-child(4n+3) {
margin-left: 8%;
text-align: right;
letter-spacing: 0.5px;
}

.menu-list a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}


.menu-list a {
  color: #000000;
}

.menu-list a:hover {
  color: #81b3d2;
}

.menu-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-photo {
  position: relative;
  width: 100%;
  height: 508px;
  background-color: #6c7780;
  background-image: url("../img/main-foto.jpg");
  background-repeat: no-repeat;
  background-position: center 21%;
  background-size: cover;
}

.main-photo img {
  position: absolute;
  top: 76px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.main-photo::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-image: url("../img/hidebottom-photo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 56px;
}

.main-text {
  padding-top: 61px;
  padding-bottom: 50px;
  text-align: center;
  color: #000000;
}

.main-text-sedona {
  display: block;
  width: 442px;
  margin: 0 auto 27px;
  font-size: 21px;
}

.main-text p {
  margin: 0;
  font-weight: normal;
}

.main-realhouse {
  display: flex;
  min-height: 256px;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
}

.realhouse-text {
  width: 33.33%;
  text-align: center;
  color: white;
}

.realhouse-sity {
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
  margin-bottom: 21px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.realhouse-n1 {
  display: block;
  margin-bottom: 19px;
  font-weight: normal;
}

.realhouse-Sedona {
  max-width: 100%;
  margin-left: 59px;
  margin-right: 59px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.main-firstimage {
  width: 66.66%;
  max-height: 256px;
  background-color: #a5907e;
}

.main-firstimage img {
  width: 100%;
  height: 100%;
}

.main-offer {
  display: flex;
  min-height: 330px;
  color: #000;
  text-align: center;
  background-color: #fff;
}

.main-offer section {
  width: 33.33%;
}

.main-offer h3 {
  margin-top: 163px;
  font-size: 21px;
  line-height: 21px;
}

.main-offer p {
  margin-right: 57px;
  margin-left: 57px;
  line-height: 1.5;
}

.offer-house {
  background: url("../img/housing.png") center 60px no-repeat;
}
.offer-food {
  background: url("../img/eat.png") center 60px no-repeat;
}
.offer-souvenir {
  background: url("../img/souvenir.png") center 60px no-repeat;
}

.main-realbridge {
  display: flex;
  min-height: 256px;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
}

.main-bridge {
  width: 33.33%;
  text-align: center;
  color: white;
}

.bridge-devil {
  width: 151px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
  margin-bottom: 21px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.bridge-n2 {
  display: block;
  margin-bottom: 19px;
  font-weight: normal;
}

.bridge-go {
  max-width: 100%;
  margin-left: 49px;
  margin-right: 49px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.main-secondimage {
  width: 66.66%;
  max-height: 256px;
  background-color: #a5907e;
}

.main-secondimage img {
  width: 100%;
  height: 100%;
}

.main-pluses {
  display: flex;
  min-height: 256px;
  color: #000;
  text-align: center;
  background-color: #eee;
}

.main-pluses section {
  width: 33.33%;
}

.main-pluses h3 {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 21px;
  line-height: 21px;
}

.main-pluses p {
  margin-right: 69px;
  margin-left: 69px;
  line-height: 1.5;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  background-color: #fff;

}

.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 52px;
}

.search-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #000;
}

.search-text {
  margin: 0;
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-weight: normal;
  color: #333333;
}

a.search-hotel-button {
  display: block;
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #766357;
}

a.search-hotel-button:hover,
a.search-hotel-button:focus {
  background-color: #604e43;
  outline: none;
}

a.search-hotel-button:active {
  background-color: #503e33;
}

.search-data {
  position: relative;
}

.search-menu {
  position: absolute;
  left: 50%;
  z-index: 1;
  display: block;
  padding: 55px;
  width: 568px;
  transform: translateX(-50%);
  box-sizing: border-box;
  color: #000;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.search-menu .input-data {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 30px;
}

.input-data input[type="text"] {
  flex-grow: 1;
}

.input-data label {
  width: 112px;
  letter-spacing: 0.4px;
}

.search-menu .calender-picture {
  position: absolute;
  top: 50%;
  right: 9px;
  padding: 0;
  font-size: 0;
  background: none;
  border: none;
  transform: translateY(-50%);
}

.search-menu input[type="text"] {
  box-sizing: border-box;
  padding: 11px 14px;
  padding-right: 40px;
  font-size: 14px;
  line-height: normal;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}

.search-menu input[type="text"]:hover {
  background-color: #ebebeb;
}

.search-menu input[type="text"]:focus {
  background-color: #fff;
  outline: none;
}

.numberofviziters {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-size: 0;
}

.numberofviziters label {
  font-size: 14px;
}

.numberofviziters .adults {
  margin-right: 41px;
}

.numberofviziters .children {
  margin-right: 26px;
  margin-left: 48px;
}

.numberofviziters input[type="text"] {
  width: 38px;
  padding: 11px 5px;
  text-align: center;
}

.numberofviziters input[type="button"] {
  height: 38px;
  width: 38px;
  vertical-align: top;
  font-size: 24px;
}

.calender-picture:hover path,
.calender-picture:focus path {
  fill: #000;
}

.calender-picture:active path {
  fill: #81b3d2;
}

.calender-picture:focus,
.calender-picture:active {
  outline: none;
}

.search-menu .buttonviziters {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  color: #a9a9a9;
}

.search-menu .buttonviziters:hover,
.search-menu .buttonviziters:focus {
  color: #000;
  outline: none;
}

.search-menu .buttonviziters:active {
  color: #81b3d2;
}

.search-menu input[type="submit"] {
  width: 458px;
  height: 58px;
  margin-top: 54px;
  border: none;
  background-color: #81b3d2;
  color: white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.search-menu input[type="submit"]:hover,
.search-menu input[type="submit"]:focus {
  background-color: #669ec0;
  outline: none;
}

.search-menu input[type="submit"]:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

iframe {
  position: absolute;
}

.footer {
  display: flex;
  position: relative;
  margin-top: 474px;
  height: 120px;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
}

.footersection {
  display: flex;
  flex-basis: 33%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.footer-social ul {
  padding: 0;
  padding-top: 12px;
  padding-right: 5px;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.footer-social li {
  display: inline-block;
  margin-left: 6px;
}

.footer-social .socialbutton {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social .socialbutton:hover,
.footer-social .socialbutton:focus  {
  background-color: #669ec0;
}

.footer-social .socialbutton:active {
  background-color: #5496bd;
}

.footer-social .social-twitter {
   background-image: url("../img/twitter.svg");
}

.footer-social .social-facebook {
  background-image: url("../img/fb-icon.svg");
}

.footer-social .social-youtube {
  background-image: url("../img/youtube.svg");
}

.visitsedona {
  font-size: 21px;
  font-weight: bold;
  color: #000;
}

.htmlacademy-referal {
  color: #000;
  font-weight: normal;
  position: relative;
  padding-right: 124px;
  text-decoration: none;
}

.htmlacademy-referal svg {
  position: absolute;
  right: 0;
  top: -25%;
}

.svghtmlacademy {
  fill: #231f20;
}

.svghtmlacademy:hover {
  fill: #81b3d2;
}

.svghtmlacademy:active {
  fill: #bdbbbc;
}

.filter-name,
.filter-title,
.filter-title-price {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}

.filter {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 27px;
  padding-bottom: 30px;
  background-color: #6c7780;
  background-image: url("../img/sedonaback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.filter-category {
  display: flex;
  justify-content: flex-start;
}

.filter-category fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.field-container legend {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 21px;
  color: white;
  font-weight: bold;
}

.field-container label {
  display: block;
  position: relative;
  margin: 0;
  padding-left: 40px;
  font-size: 14px;
  line-height: 23px;
  color: white;
  font-weight: normal;
  vertical-align: middle;
}

.field-container label:not(:last-child) {
    margin-bottom: 23px;
}

.filter-category input[type="checkbox"]:checked + .checkbox-picture {
  content: "";
  position: absolute;
  display: block;
  width: 27px;
  height: 23px;
  left: 0;
  top: 0;
  background-image: url("../img/checkbox-on.svg");
}

.filter-category input[type="checkbox"]:not(:checked) + .checkbox-picture {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  left: 0;
  top: 0;
}

.field-infrastructure {
  width: 24%;
  min-width: 238px;
}

.field-housing {
  flex-grow: 1;
}

.field-housing label {
  margin-left: 3px;
}

.field-praicing {
  width: 30.1%;
  min-width: 222px;
  color: #fff;
}

.field-praicing .price-controls {
  position: relative;
  height: 32px;
  border: 2px solid white;
  border-radius: 3px;
  margin-bottom: 20px;
}

.field-praicing legend {
  margin-bottom: 10px;
}

.field-praicing label {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding-left: 21%;
  line-height: 32px;
  font-weight: normal;
}

.price-controls label:last-child {
  padding-left: 15%;
}

.field-praicing input[type="text"] {
  width: 60%;
  margin: 0;
  font: inherit;
  line-height: normal;
  color: inherit;
  border: none;
  background: none;
}

.field-praicing .price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  left: 50%;
  top: 50%;
  background-color: #fff;
  transform: translate(50%,-50%);
}

.field-praicing .range-controls {
  position: relative;
  width: 100%;
}

.field-praicing .scale {
  height: 2px;
  background-color: rgba(255,255,255,0.3);
}

.field-praicing .bar {
  width: 80%;
  height: 2px;
  background-color: #fff;
}

.field-praicing .range-runner {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(171, 171, 171, 0.3);
}

.field-praicing .range-runner:hover {
  transform: scale(1.1);
}

.field-praicing .range-runner-max {
  left: 80%;
}

.filter-category input[type="submit"] {
  display: block;
  width: 137px;
  height: 36px;
  box-sizing: border-box;
  margin: 32px auto 0;
  margin-right: 30%;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
